@import "../../../styles.scss";

#login-container {
  display: flex;
  float: left;
  // flex-direction: column;
  width: 25%;
  align-items: center;
  margin:auto;
  margin-left: 50px;
  margin-top: 50px;
  
}

#forgot-pass-btn{
  color: blue;
  margin-top: 0.5em;
  border: none;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 1s;
          transition: 1s;
  &:hover {
    text-decoration: underline;
  }
}


#invalidCredHead {
  color: red;
  text-align: center;
  padding-top: 10px;
}



#titleHead{
  margin:auto;
  display: flex;
  font-family: Garmond;
  justify-content: center;
  padding-bottom: 10px;
}

#login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin: 0.3em;
  }
}

.txt-bx{
  width: 250px;
}

#forgot-pass-btn {
  margin: auto;
}

/* #send {
  background: #f3a55d;
} */

#send {
  background: #f3a55d;
}

#LoginLogo{
  margin-top: 1em;
}

#LoginLogo img{
  margin-left: 65px;
}

#steps{
  margin-top: 130px;
  width: 60%;
  float: left;
  padding: 10px;
}

.clearfix{
  clear:both
}

footer{
  height: 15px;
  background: #f3a55d;
}